# Django
DJANGO_SECRET_KEY=change-me-to-a-long-random-string
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1

# Redis
REDIS_URL=redis://redis:6379/0

# NodeODM
NODEODM_HOST=nodeodm
NODEODM_PORT=3000
NODEODM_MEMORY_LIMIT=20G

# Superuser (auto-created on first boot)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=drone3d-admin
DJANGO_SUPERUSER_EMAIL=admin@drone3d.local
